@media only screen and (max-width: 1200px) {
  .text-center {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .text-center {
    display: none;
  }
  .footer {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}
@media only screen and (max-width: 567px) {
  .page-home .page-home-text {
    transform: translateY(100%);
  }
  .page-home .countdown {
    display: none;
  }
  .page-home .audio {
    background-color: ;
  }
}
