/* START RESET CSS*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.7;
  font-size: 14px;
}

a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a,
p,
span,
i,
img {
  display: inline-block;
}
img {
  max-width: 100%;
}

/* END RESET CSS*/

/* ========================================================= */

/* HOME STAR */
.home{
  position: relative;
  background-color: blue;
}
.home .page-home::before {
  content: "";
  display: block;
  padding-top: 50%;
  background-color: red;
}
.page-home .page-home-img {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: yellowgreen;
}
.page-home .page-home-text {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.page-home .page-home-text h2 {
  font-size: 25px;
  margin-top: 60px;
}
.page-home .page-home-text span {
  display: block;
  font-weight: 400;
}
.page-home .countdown {
  position: absolute;
  bottom: 15%;
  transform: translateX(50%);
}
.page-home .countdown div:nth-child(1) {
  margin-left: 10px;
}
.page-home .countdown div {
  position: relative;
  font-size: 30px;
  font-weight: 500;
  margin-left: 50px;
  background-color: #fff;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.page-home .countdown div::before {
  content: "";
  position: absolute;
  background-color: #225082;
  bottom: -10px;
  width: 100%;
  height: 35px;
  left: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 35px;
}
.page-home .countdown #day:before {
  content: "Days";
}
.page-home .countdown #hour:before {
  content: "Hours";
}
.page-home .countdown #minute:before {
  content: "Minutes";
}
.page-home .countdown #second:before {
  content: "Seconds";
}
.page-home .audio {
  position: absolute;
  bottom: 10px;
}
/* HOME END */
